<link rel="stylesheet" href="/css/custom.css">

<h1>Components</h1>

<div class="content">
    <div class="table-container">
        {{!-- Create a table --}}
        <table id="components-table">

            {{!-- Header section --}}
            <thead>

                {{!-- For just the first row, we print each key of the row object as a header cell so we
                know what each column means when the page renders --}}
                <tr>
                    {{#each data.[0]}}
                    <th>
                        {{@key}}
                    </th>
                    {{/each}}
                </tr>
            </thead>

            {{!-- Body section --}}
            <tbody>

                {{!-- For each row, print the attributes in order --}}
                {{#each data}}
                <tr>
                    <td>{{this.componentID}}</td>
                    <td>{{this.componentName}}</td>
                    <td>{{this.componentDescription}}</td>
                    <td>{{this.partName}}</td>
                    <td>{{this.componentNotes}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

     <div class="forms-container">
        {{!-- Add Data to Table Form --}}
        <h2>Add New Component</h2>
        <form id="add-component-form-ajax">
            <label for="input-name">Component Name: </label>
            <input type="text" name="input-name" id="input-name">
            
            <label for="input-description">Description: </label>
            <input type="text" name="input-description" id="input-description">

            <select name="input-parts" id="input-part-ajax">
                <option value="">Part:</option>
                {{#each parts}}
                <option value="{{this.partID}}">{{this.partName}}</option>
                {{/each}}
            </select>

            <label for="input-notes">Notes: </label>
            <input type="text" name="input-notes" id="input-notes">

            <input type="submit">
        </form>

        {{!-- Update Table Data Form --}}
        <h2>Update Component</h2>
        <form id="update-component-form-ajax">

            <label for="input-component">Component: </label>
            <select name="input-component" id="mySelect">
                <option value="test">Select a Component</option>
                {{#each data}}
                <option value="{{this.componentID}}">{{this.componentName}}</option>
                {{/each}}
            </select>

            <label for="input-part">Part: </label>
            <select name="input-part" id="input-part-update">
                <option>Select a Part</option>
                {{#each parts}}
                <option value="{{this.partID}}">{{this.partName}}</option>
                {{/each}}
                <option value="">NULL</option>
            </select>
            <input type="submit">

        </form>
    </div>
</div>

<script src="./js/update_component.js"></script>

{{!-- Embed our javascript to handle the DOM manipulation and AJAX request --}}
<script src="./js/add_component.js"></script>